.endbody {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 115vw;
    z-index: 2;
    background-color: black;
    
}

.imgcontainer{
    padding-top: 1%;
    padding-left: 8%;
}

.endlogo {
    display: flex;
    width: 4vw;
    
}

.endtext{
    color: white;
    padding-top: 2%;
    padding-right: 5%;
}